CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
main

# Mac
.DS_Store
.vscode
poc/dataset/lineitem.csv
poc/poc
udf_transpiler/env/
test/
tests/
poc/poc
poc/Makefile
parse_dump.json
poc/CMakeLists.txt


*.o
*.tbl
tpch-kit-new/dbgen/dbgen
tpch-kit-new/dbgen/qgen
tpch-kit-new/ref_data/100
tpch-kit-new/ref_data/300
tpch-kit-new/ref_data/1000
tpch-kit-new/ref_data/3000
tpch-kit-new/ref_data/10000
tpch-kit-new/ref_data/30000
tpch-kit-new/ref_data/100000
