CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
main

# Mac
.DS_Store
.vscode
poc/dataset/lineitem.csv
poc/poc
udf_transpiler/env/
test/
tests/
poc/poc
poc/Makefile
parse_dump.json
poc/CMakeLists.txt
