CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
main

# Mac
.DS_Store
.vscode
poc/dataset/lineitem.csv
poc/poc
udf_transpiler/env/
test/
tests/
poc/poc
poc/Makefile
parse_dump.json
poc/CMakeLists.txt
!python_transpiler/test/
python_transpiler/test/dataset/lineitem.csv
python_transpiler/test/*.cpp
python_transpiler/test/test


# test in python_transpiler
*.o
*.tbl
tpch-kit/dbgen/dbgen
tpch-kit/dbgen/qgen
tpch-kit/ref_data/100
tpch-kit/ref_data/300
tpch-kit/ref_data/1000
tpch-kit/ref_data/3000
tpch-kit/ref_data/10000
tpch-kit/ref_data/30000
tpch-kit/ref_data/100000
